.image-thumbnail {
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    max-width: 100%;
    max-height: auto;
  }
  
  .sectionn {
    color: #000;
    position: relative;
    padding: 7rem 0;;
    margin-left: 40px;
    margin-right: 40px;
  }
  